  <!-- <button (click)="openModal('custom-modal-1')">Open Modal 1</button> -->
  <!-- <app-google-maps style="width: 700px; height: 500px;"></app-google-maps> -->
   <iframe style="height: 62vh; width: 71vw;" width="1250" height="83vh" src="https://app.powerbi.com/reportEmbed?reportId=d9c11b9c-6d26-4f12-aafd-1a59ce167a14&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D

  " frameborder="0" allowFullScreen="true"></iframe>
  <div routerLink="/estado" style="cursor: pointer;" class="charts-container" >
    <ngx-charts-pie-grid
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    (select)="onSelect($event)">
   </ngx-charts-pie-grid>
   </div>





 <jw-modal id="custom-modal-1">
  <iframe style="height: 83vh; width: 91vw;" width="1250" height="83vh" src="https://app.powerbi.com/reportEmbed?reportId=d9c11b9c-6d26-4f12-aafd-1a59ce167a14&groupId=1516e6d9-86bd-4cd5-b962-da91db8c3e81&autoAuth=true&ctid=76d621fe-838d-496a-9f4f-60d7eb46763e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D
  " frameborder="0" allowFullScreen="true"></iframe>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>

