<main style="display: flex;">
  <div style="margin-left: auto; margin-right: auto; width: 800px;">
    <img style="height: 380px;" src="assets\images\social1.png" alt="" />
    <img style="height: 436px;" src="assets\images\social2.png" alt="" />
  </div>
  <div style="margin: 50px; margin-top: 0;" class="social">
    <h4 style="margin: auto; width: 91px;">Instagram</h4>
    <img style="margin: 50px; margin-top: 10px; margin-bottom: 10px;" src="assets\images\instagram.png" alt="" />
    <h4>Numero de seguidores: 1223</h4>
    <h4 style="margin: 10px auto auto auto; width: 91px;">Facebook</h4>
    <img style="margin: 50px; margin-top: 10px; margin-bottom: 10px;" src="assets\images\fb.png" alt="" />
    <h4>Numero de menciones: 2223</h4>
    <h4 style="margin: 10px auto auto auto; width: 91px;">Twitter</h4>
    <img style="height: 96px; margin: 50px; margin-top: 10px; margin-bottom: 10px;" src="assets\images\twitter.png" alt="" />
    <h4>Numero de seguidores: 1523</h4>
  </div>
  <div class="grupo3">
    <h4 style="margin: auto; width: 91px; margin-top: 10px;">Youtube</h4>
    <img style="height: 70px; margin: 50px; margin-top: 10px; margin-bottom: 10px;" src="assets\images\youtube.png" alt="" />
    <h4>Numero de supcriptores: 123</h4>
    <h4 style="margin: auto; width: 91px; margin-top: 10px; ">Visitas</h4>
    <img style="height: 108px; margin: 50px; margin-top: 10px; margin-bottom: 10px;" src="assets\images\www.png" alt="" />
    <h4>Numero de busquedas: 4223</h4>
  </div>
</main>
