<div class="sidebar-container">
  <div class="btns-container">
      <div class="alert-tmx-btn" routerLink='/panicbutton'  style="cursor: pointer;">
    <img class="alert-logo" src="assets/images/alert.png" alt="icono alerta">
    <div class="number-indicator">
      201
    </div>
  </div>
  </div>
  <div class="filtros-container">
    <h4>Ordenar por</h4>
  </div>
  <div class="filtros-container">
    <div class="filtro">
      <p>Nivel</p>
      <svg xmlns="http://www.w3.org/2000/svg" class="arrow" width="17.922" height="10.247" viewBox="0 0 17.922 10.247"><path  d="M15.152,18.4l6.777-6.782a1.275,1.275,0,0,1,1.809,0,1.292,1.292,0,0,1,0,1.814l-7.678,7.684a1.278,1.278,0,0,1-1.766.037L6.561,13.442A1.281,1.281,0,1,1,8.37,11.628Z" transform="translate(-6.188 -11.246)" fill="#676767"/></svg>
    </div>
    <div class="filtro">
      <p>Fecha</p>
      <svg xmlns="http://www.w3.org/2000/svg" class="arrow" width="17.922" height="10.247" viewBox="0 0 17.922 10.247"><path  d="M15.152,18.4l6.777-6.782a1.275,1.275,0,0,1,1.809,0,1.292,1.292,0,0,1,0,1.814l-7.678,7.684a1.278,1.278,0,0,1-1.766.037L6.561,13.442A1.281,1.281,0,1,1,8.37,11.628Z" transform="translate(-6.188 -11.246)" fill="#676767"/></svg>
    </div>
    <div class="filtro">
      <p>Estado</p>
      <svg xmlns="http://www.w3.org/2000/svg" class="arrow" width="17.922" height="10.247" viewBox="0 0 17.922 10.247"><path  d="M15.152,18.4l6.777-6.782a1.275,1.275,0,0,1,1.809,0,1.292,1.292,0,0,1,0,1.814l-7.678,7.684a1.278,1.278,0,0,1-1.766.037L6.561,13.442A1.281,1.281,0,1,1,8.37,11.628Z" transform="translate(-6.188 -11.246)" fill="#676767"/></svg>
    </div>
  </div>

  <div class="search-bar">
    <svg style="margin: auto 0 auto 5px;" xmlns="http://www.w3.org/2000/svg" width="29.628" height="29.633" viewBox="0 0 29.628 29.633"><path d="M29.225,25.619l-5.77-5.77a1.388,1.388,0,0,0-.984-.405h-.943a12.032,12.032,0,1,0-2.083,2.083v.943a1.388,1.388,0,0,0,.405.984l5.77,5.77a1.383,1.383,0,0,0,1.962,0l1.638-1.638a1.4,1.4,0,0,0,.006-1.968ZM12.037,19.445a7.407,7.407,0,1,1,7.407-7.407A7.4,7.4,0,0,1,12.037,19.445Z" fill="#676767"/></svg>
    <p style="margin-top: auto; margin-bottom: auto; margin-left: 10px;" >Buscar...</p>
  </div>

  <div class="alerts-names">
    <p>Estado</p>
    <p>Nombre</p>
    <p>Id</p>
    <p>Descripcion</p>
    <p>Nivel</p>
  </div>

  <div class="alerta">
    <p>Jalisco</p>
    <p>Overload</p>
    <p>67A6D8A</p>
    <p class="desc" style="width: 142px;
    height: 76px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
    <p class="level">High</p>
  </div>
  <div class="alerta">
    <p>Jalisco</p>
    <p>Overload</p>
    <p>67A6D8A</p>
    <p class="desc" style="width: 142px;
    height: 76px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
    <p class="level" style="background: #F4F955">Mid</p>
  </div>
  <div class="alerta">
    <p>Jalisco</p>
    <p>Overload</p>
    <p>67A6D8A</p>
    <p class="desc" style="width: 142px;
    height: 76px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
    <p class="level" style="background: #007DC1">Low</p>
  </div>
  <div class="alerta">
    <p>Jalisco</p>
    <p>Overload</p>
    <p>67A6D8A</p>
    <p class="desc" style="width: 142px;
    height: 76px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
    <p class="level" style="background: #007DC1">Low</p>
  </div>
  <div class="alerta">
    <p>Jalisco</p>
    <p>Overload</p>
    <p>67A6D8A</p>
    <p class="desc" style="width: 142px;
    height: 76px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
    <p class="level" style="background: #007DC1">Low</p>
  </div>
  <div class="alerta">
    <p>Jalisco</p>
    <p>Overload</p>
    <p>67A6D8A</p>
    <p class="desc" style="width: 142px;
    height: 76px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr...</p>
    <p class="level">High</p>
  </div>

</div>
